::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px rgb(var(--mdui-color-surface-container));
    border: solid 2px transparent;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px rgb(var(--mdui-color-surface-container-highest));
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    opacity: 0;
    transition-duration: .3s;
    margin: 0px;
    padding: 60px;
    font-family: Roboto;
    height: calc(100vh - 120px);
}

body.ready {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block: 0px;
}

a {
    color: rgb(var(--mdui-color-tertiary));
    font-weight: bold;
    text-decoration: none;
}

#app-bar {
    margin-bottom: 60px; 
    display: flex; 
    justify-content: space-between; 
    height: 10vh;
}

#branding {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    justify-content: center;
}

#branding img {
    width: 50px; 
    height: 50px; 
    border-radius: var(--mdui-shape-corner-extra-large);
}

#branding .version {
    background-color: rgb(var(--mdui-color-primary)); 
    color: rgb(var(--mdui-color-on-primary)); 
    padding: 10px;
}

#nav-links {
    display: flex; 
    gap: 20px; 
    align-items: center; 
    justify-content: center;
}

.nav-link {
    gap: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-width: 160px; 
    color: rgb(var(--mdui-color-primary)); 
    padding: 12px; 
    background-color: rgb(var(--mdui-color-surface)); 
    border-radius: var(--mdui-shape-corner-full); 
    box-shadow: none; 
    height: fit-content;
}

.nav-link svg {
    height: 24px; 
    width: 24px;
}

.nav-link.github svg path {
    fill: rgb(var(--mdui-color-primary));
}

#main {
    display: flex; 
    gap: 40px; 
    justify-content: center; 
    height: calc(90vh - 180px); 
    align-items: center;
}

#download-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
}

#download-btn {
    width: fit-content; 
    height: fit-content; 
    color: rgb(var(--mdui-color-primary)); 
    align-items: center; 
    display: flex; 
    gap: 30px; 
    box-shadow: none; 
    background-color: rgb(var(--mdui-color-primary-container)); 
    padding: 30px; 
    border-radius: var(--mdui-shape-corner-extra-large); 
    transition: background-color .3s;
}

#download-btn img {
    height: 60px; 
    width: auto;
}

#download-btn h2 {
    transition: color .3s, width .3s; 
    text-wrap: nowrap; 
    width: auto;
}

.grow {
    animation: .3s grow;
}

@keyframes grow {
    from {
        transform: rotate(180deg) scale(0.5);
    }

    to {
        transform: rotate(0deg) scale(1);
    }
}

#download-options .header {
    display: flex; 
    justify-content: center;
}

#download-options .content {
    display: flex; 
    gap: 10px; 
    width: 400px; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
    padding: 10px;
}

#preview {
    background-image: url('assets/preview-light.svg'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
    flex-grow: 1;
}

#mobile-message {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 20px;
    }

    #app-bar {
        flex-direction: column;
    }

    #download-container {
        display: none;
    }

    #mobile-message {
        display: block;
    }

    #content-container {
        flex-direction: column;
    }
}