.paragraphe--1::after {
    height: 100%;
    width: 5px !important;
    background-color: #3452ff;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50px;
}

.paragraphe--1 {
    border: none !important;
    position: relative !important;
}

h1::after, .h1::after {
    background-color: var(--primary) !important;
    border-radius: 50px;
}

.paragraphe--2 {
    border-radius: 12px;
    background-color: var(--primary) !important;
    border: none !important;
    color: var(--on-primary) !important;
}

.paragraphe--2 h2, .paragraphe--2 h3, .paragraphe--2 a {
    color: var(--on-primary) !important;
}

.paragraphe--2 img {
    filter: var(--on-primary-filter);
}

.paragraphe--0 a img {
    filter: var(--on-surface-high-emphasis-filter);
}

.paragraphe__titre--6, .paragraphe__contenu--6 {
    background-color: var(--surface-medium) !important;
    color: var(--on-surface-high-emphasis) !important;
}

.paragraphe--6 img {
    filter: var(--on-surface-high-emphasis-filter);
    transition: filter var(--transition-duration);
}

.paragraphe--3 {
    border: none !important;
    position: relative !important;
    border-radius: 12px;
    background-color: var(--surface-medium) !important;
    color: var(--on-surface-high-emphasis) !important;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.objets.actualites a {
    color: var(--on-surface-low-emphasis) !important;
    transition: color var(--transition-duration);
}

.objets.actualites .photo {
    border-radius: 6px;
}

#to-top {
    background-color: var(--primary) !important;
}

footer {
    background-color: var(--surface-high) !important;
    transition: background-color var(--transition-duration);
}

footer .libelle {
    color: var(--on-surface-high-emphasis) !important;
    transition: color var(--transition-duration);
}

footer h3.libelle {
    border-bottom: 1px solid var(--on-surface-high-emphasis) !important;
}

.footer__logo__contenu, .footer__logo__lien {
    filter: var(--on-surface-high-emphasis-filter);
    transition: filter var(--transition-duration);
}

.actions-fiche svg {
    filter: var(--on-surface-low-emphasis-filter);
    transition: filter var(--transition-duration);
}