:root {
    --primary: #3452ff;
    --on-primary: #ffffff;
    --primary-dark: #21339f;
    --on-primary-dark: #ffffff;
    --neutral: #cecece;
    --on-neutral: #000000;

    --shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2);

    --transition-duration: .3s;
}